<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471954217313-673ms41c1kfmrri49bp9lv2bjbndd33n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471954217313-673ms41c1kfmrri49bp9lv2bjbndd33n</string>
	<key>API_KEY</key>
	<string>AIzaSyC9UlfmU8I7GJsyjtT8CgT10hoY6D2-I5c</string>
	<key>GCM_SENDER_ID</key>
	<string>471954217313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erictriawan.myfirst</string>
	<key>PROJECT_ID</key>
	<string>myfirst-1386c</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-1386c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471954217313:ios:82c6f9be858fe2b5b78d20</string>
</dict>
</plist>